<p>Hello {{name}},</p>
<p>There's a new event
  {{eventName}}
  in the
  {{geofence}}
  geofence you created!</p>
<p>
  <a href='{{url}}'>Check it out now!</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>